{% load static %}
<html>
    <head>
        <title>Blog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/depend/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/depend/jquery-3.4.1.slim.min.js' %}"></script>
        <script src="{% static 'js/depend/popper.min.js' %}"></script>
        <script src="{% static 'js/depend/bootstrap.min.js' %}"></script>
        <!-- Start Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-DD4WFLB5NW"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ G_ANALYTICS }}');
        </script>
        <!-- End Global site tag (gtag.js) - Google Analytics -->
    </head>
    <body>
        <div class="container">
            {% include 'nav.html' %}
            <div class="div-content">
                {% block content %}
                {% endblock %}
            </div>
            <div class="text-muted">
                <br><br>
                <hr class="my-4">
                <a href="{% url 'ToS' %}" class="text-reset">Terminos de Servicio</a> - <a href="{% url 'Privacy' %}" class="text-reset">Politica de Privacidad</a>
                <br><br>
            </div>
        </div>
    </body>
</html>